# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicit text files
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
Makefile text eol=lf

# Jupyter Notebooks
*.ipynb text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.pt binary
*.pth binary
*.bin binary
*.zip binary
